<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>
</head>
<body>
    <h1>
    ASCII Art Web
</h1>
    
</body>
</html>
<form action="ascii-art" method="POST">
    <textarea name="text"></textarea>

    <label>
        <input type="radio" name="banner" value="shadow">
        Shadow
    </label>

    <label>
        <input type="radio" name="banner" value="standard">
        Standard
    </label>

    <label>
        <input type="radio" name="banner" value="thinkertoy">
        Thinkertoy
    </label>

    <button type="submit">Generate</button>
</form>